.buttom__wrapper {
  position: relative;
}

.buttom__link {
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  color: var(--text);
  padding: 0.5rem 0.5rem;
  display: flex;
  background-color: var(--color-sidebar-item);
  margin-bottom: 0.5rem;
  border-radius: 0.8rem;
}

.buttom__link_active {
  /*color: var(--color-bg);*/
  /*background-color: #000000;*/
  /*display: inline-block;*/
  /*font-size: 1rem;*/
  /*text-decoration: none;*/
  /*padding: 0.5rem 0.5rem;*/
  /*display: flex;*/
  /*margin-bottom: 0.5rem;*/
  /*border-radius: 0.8rem;*/
  display: flex;
  width: 440px;
  padding: 0.5rem 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  border: 1px solid #333;
  background: #ffff;
  margin-bottom: 0.5rem;
}

.buttom__icon {
  display: inline-block;
  font-size: 1.2rem;
}

.buttom__name {
  margin-left: 0.5rem;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sidebar__text {
  color: #333;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

/*!* [data-collapse="true"] {*/
/*  width: 5.3rem;*/
/*}*/

/*[data-collapse="true"] .sidebar__name,*/
/*[data-collapse="true"] .sidebar__logo-name {*/
/*  display: none;*/
/*} *!*/

/*.btn {*/
/*  position: absolute;*/
/*  right: 0;*/
/*  top: 4rem;*/
/*  border: none;*/
/*  background-color: var(--color-bg);*/
/*  width: 1.5rem;*/
/*  height: 1.5rem;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  cursor: pointer;*/
/*  transform: translateX(50%);*/
/*  font-size: 1.1rem;*/
/*  border-radius: 32px;*/
/*  border: 1px solid #333;*/
/*  background: #FFF;*/
/*}*/

/*.sidebar__item.specialStyles {*/
/*  background-color: white; !* Fondo blanco *!*/
/*  color: blue; !* Color de texto azul (ajusta el color según tu preferencia) *!*/
/*  !* Otros estilos personalizados *!*/
/*}*/
@media (max-width: 640px) {
  .buttom__wrapper {
    width: 100%;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .buttom__wrapper {
    width: 50%;
  }
}
