@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eee;
  --text: #000;
  --color-bg: #fff;
  --color-border: #e5e7eb;
  --color-sidebar-item: #f3f4f6;
  --color-green-primary: #1E9189;
}

/* [data-theme="dark"] {
  --background: #000;
  --text: #fff;
}

[data-theme="light"] {
  --background: #eee;
  --text: #000;
  --color-bg: #fff;
  --color-border: #e5e7eb;
  --color-sidebar-item: #f3f4f6;
  --color-green-primary: #1E9189;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--background);
  font-family: "Roboto", sans-serif;
}