
.body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Inter, serif;
  font-weight: bolder;
}

.logo_h {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Inter, serif;
  font-weight: bolder;
}


.loginContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  height: 100vh;
  background: #ffffff;
}

.loginContainer_h {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  height: 100vh;
  background: #1E9189;
}

.form h2 {
  text-align: center; /* Centra el título horizontalmente */
}
